* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

li {
  margin-top: 1rem;
}

li::marker {
  color: whitesmoke;
}

a {
  color: #fd5b78;
}

.recipes {
  border: 4px solid #fd5b78;
  width: 400px;
  height: 300px;
  text-align: center;
  margin: 20px auto;
  background-color: salmon;
}

.title {  
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 54px;
  font-weight: bold;
  padding: 1rem;
}

.recipe-list {
  list-style-type: upper-roman;
  list-style-position: inside;
  text-align: left;
  display: inline-block;
}

.glow {
  text-shadow: white 0 0 5px;
}